@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradientBg {
  background: linear-gradient(180deg, rgba(29,44,34,1) 0%, rgba(38,58,45,1) 26%, rgba(32,65,43,1) 45%, rgba(29,48,36,1) 65%, rgba(32,37,32,1) 95%, rgba(32,35,36,1) 100%);
}
.gradientBg2 {
  background: linear-gradient(180deg, rgba(32,35,36,1) 30%,  rgba(29,48,36,1) 40%, rgba(32,65,43,1) 49%, rgba(38,58,45,1) 74%, rgba(29,44,34,1) 100%);
}
/* Parent element needs to be positioned relatively */
/* Füge dies zu deinen globalen Stilen hinzu */
/* Entferne das ::before Pseudo-Element und seine Stile, da es nicht benötigt wird. */
/* Die Grundklasse für das Element */
/* Die Grundklasse für das Element */
/* gradient-border.css */
/* gradient-border.css */
.gradient-border {
  /* Stelle sicher, dass der Container relativ positioniert ist */
  position: relative;
  /* Füge Abstand im Inneren hinzu, um den Rahmen zu simulieren */
  /* Der Trick besteht darin, einen Hintergrundgradienten zu erstellen */
  background: linear-gradient(83deg, rgba(111, 111, 111, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(145, 145, 145, 0.05) 100%);
  z-index: 0;
  border-radius: 16px;
  /* Verwende ein pseudo-Element, um den eigentlichen Inhalt zu bedecken */
}

.gradient-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Hier setzen wir den Hintergrund des Inhaltsbereichs transparent */
  z-index: -1;
  /* Abstand zum Rand, um den Gradientenrand zu zeigen */
  background-image: linear-gradient(to bottom, #2e2e2e, #202324);
  margin: 0.4px;
  overflow: hidden;
  border-radius: inherit;

}
